{% extends 'registration/base.html' %}

{% block content %}

<center>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red">{{message}}</p>
        {% endfor %}
    {% endif %}

<div class="form-container">  
    <h1 class="title">Register page</h1><hr>
    <form method="POST" action="">
    {% csrf_token %}
    <label>Username:</label><br>
    <input type="text" name="username" placeholder="Enter username..."><br>

    <label>Email:</label><br>
    <input type="email" name="email" placeholder="Enter email..."><br>

    <label>Password:</label><br>
    <input type="password" name="password1" placeholder="Enter password..."><br>

    <label>Comfirm Password:</label><br>
    <input type="password" name="password2" placeholder="comfirm password..."><br>

    <button class="btn" value="submit"><i href="#"></i> Submit </button>

    </form>

</div>
</center>

{% endblock %}
